In [8]:
import pandas as pd
import re

file_names = [
    "[5-1-24].txt",
    "[5-2-24].txt", 
    "[5-3-24].txt", 
    "[5-4-24].txt", 
    "[5-5-24].txt",
    "[5-6-24].txt", 
    "[5-7-24].txt", 
    "[5-9-24].txt", 
    "[5-10-24].txt", 
    "[5-11-24].txt",
    "[5-12-24].txt",
    "[5-13-24].txt",
    "[5-15-24].txt",
    "[5-16-24].txt",
    "[5-17-24].txt",
    "[5-18-24].txt",
    "[5-19-24].txt",
    "[5-21-24].txt",
    "[5-22-24].txt",
    "[5-23-24].txt",
    "[5-24-24].txt",
    "[5-25-24].txt",
    "[5-26-24].txt",
    "[5-27-24].txt",
    "[5-28-24].txt",
    "[5-29-24].txt",
    "[5-30-24].txt",
    "[5-31-24].txt",
    "[6-2-24].txt",
    "[6-2-24]_2.txt",
    "[6-3-24].txt",
    "[6-4-24].txt",
    "[6-5-24].txt",
    "[6-6-24].txt",
    "[6-7-24].txt",
    "[6-9-24].txt",
    "[6-10-24].txt",
    "[6-11-24].txt",
    "[6-12-24].txt",
    "[6-13-24].txt",
    "[6-14-24].txt",
    "[6-15-24].txt",
    "[6-16-24].txt",
    "[6-17-24].txt",
    "[6-18-24].txt",
    "[6-20-24].txt",
    "[6-22-24].txt",
    "[6-23-24].txt",
    "[6-24-24].txt",
    "[6-25-24].txt",
    "[6-29-24].txt"
]

# Regex pattern to match the data format
pattern = r'\[(.*?)\] (.*?): (.*)'


# Initialize an empty list to store parsed data
datalist = []
stream_count = 0
# Iterate over each specified file
for file in file_names:
    full_path = file
    with open(full_path, 'r', encoding='utf-8') as f:
        lines = f.readlines()
        for line in lines:
            match = re.match(pattern, line)
            if match:
                date, user, message = match.groups()
                datalist.append([date, user, message,stream_count])
    stream_count = stream_count + 1

# Create a DataFrame from the parsed data
data = pd.DataFrame(datalist, columns=["date", "user", "message","stream"])

In [9]:
# Group by 'stream' and aggregate unique users
users_per_stream = data.groupby("stream")["user"].unique().reset_index()

# Display the result
print(users_per_stream)

    stream                                               user
0        0  [Martin_Gales, StreamElements, Aloddin, utaBz,...
1        1  [StreamElements, Martin_Gales, Zeololz, NSAPar...
2        2  [Martin_Gales, StreamElements, sbeedy20, Banti...
3        3  [Martin_Gales, StreamElements, swedenhobohealt...
4        4  [Martin_Gales, StreamElements, jqqq777, SeeMeN...
5        5  [Martin_Gales, StreamElements, Banties1g, coll...
6        6  [Martin_Gales, StreamElements, x3lolx, simcapr...
7        7  [Martin_Gales, StreamElements, FarfarFertil, m...
8        8  [Martin_Gales, StreamElements, zoiodelul4, Zeo...
9        9  [Martin_Gales, StreamElements, slarzka, The_As...
10      10  [Martin_Gales, StreamElements, mrzexyy, 3_nzi,...
11      11  [Martin_Gales, StreamElements, IRLKingsman, ut...
12      12  [StreamElements, klimzaa, balintboss, domjel12...
13      13  [1206paul_, StreamElements, Banties1g, Aloddin...
14      14  [StreamElements, Zxngetsu0, hilallunar, sabago...
15      15  [Substen, Martin_Gales, StreamElements, enseje...
16      16  [Martin_Gales, enseje, StreamElements, dominik...
17      17  [IRLKingsman, StreamElements, Martin_Gales, on...
18      18  [Martin_Gales, StreamElements, Mista413, kunmi...
19      19  [1SKELTON, oJov, darxtorn, roxa0, Martin_Gales...
20      20  [StreamElements, walnutNESS, dominikcz_zero, I...
21      21  [Martin_Gales, balintboss, StreamElements, IRL...
22      22  [StreamElements, malik_mv, SplaXie_CS, Banties...
23      23  [StreamElements, aplhacuremumm, Martin_Gales, ...
24      24  [Martin_Gales, IvanOnMyOwn, StreamElements, ba...
25      25  [Martin_Gales, StreamElements, ChimpHailpk, Cu...
26      26  [Martin_Gales, StreamElements, Aloddin, yarikd...
27      27  [Martin_Gales, StreamElements, balintboss, xfr...
28      28  [Martin_Gales, StreamElements, ciplex___, ense...
29      29  [StreamElements, Martin_Gales, Aluminiumminimu...
30      30  [StreamElements, emolatt3, Martin_Gales, banne...
31      31  [Martin_Gales, StreamElements, Banties1g, cake...
32      32  [StreamElements, Mista413, lajosbarnabas, Drak...
33      33  [StreamElements, balintboss, dustin8i, blockpa...
34      34  [Martin_Gales, StreamElements, icep1cke, slezy...
35      35  [StreamElements, Martin_Gales, icep1cke, IRLKi...
36      36  [StreamElements, x3lolx, mynard, SeeMeNoMore_,...
37      37  [StreamElements, Martin_Gales, balintboss, kur...
38      38  [Martin_Gales, StreamElements, balintboss, kur...
39      39  [IvanOnMyOwn, Martin_Gales, StreamElements, Br...
40      40  [StreamElements, metinno7, xlimonx1, kunmilan9...
41      41  [StreamElements, icanmore, danbior_, BuBrekht,...
42      42  [StreamElements, 0moug0, enseje, ostkroken744,...
43      43  [Martin_Gales, StreamElements, xlimonx1, Alumi...
44      44  [Martin_Gales, StreamElements, balintboss, swe...
45      45  [StreamElements, balintboss, kurdooo030, yarik...
46      46  [StreamElements, Martin_Gales, IRLKingsman, sr...
47      47  [StreamElements, Martin_Gales, samurayjack_01,...
48      48  [balintboss, StreamElements, Martin_Gales, cuc...
49      49  [Martin_Gales, StreamElements, sisiliann, bali...

In [10]:
# Group by 'users' and aggregate unique streams
stream_per_users = data.groupby("user")["stream"].unique().reset_index()

# Display the result
print(stream_per_users)

           user                                             stream
0     00001joel                                             [4, 5]
1     00ramez00                                               [14]
2      062_davi                                               [37]
3        0_OS_0                                               [39]
4        0criss                                       [32, 41, 45]
...         ...                                                ...
3903       無法顯示                                               [23]
3904       爪口长工  [0, 1, 3, 5, 7, 8, 10, 11, 13, 15, 21, 29, 30,...
3905      的显示名称                                               [49]
3906    게이머2334                                               [45]
3907        덕충2                               [42, 43, 44, 45, 46]

[3908 rows x 2 columns]

In [11]:
stream_per_users["stream_count"] = stream_per_users["stream"].apply(len)

In [12]:
stream_per_users.head(5)

        user        stream  stream_count
0  00001joel        [4, 5]             2
1  00ramez00          [14]             1
2   062_davi          [37]             1
3     0_OS_0          [39]             1
4     0criss  [32, 41, 45]             3

In [14]:
stream_per_users['stream_count'].describe()

count    3908.000000
mean        2.947032
std         4.916400
min         1.000000
25%         1.000000
50%         1.000000
75%         3.000000
max        50.000000
Name: stream_count, dtype: float64

In [15]:
# Function to calculate the longest streak of consecutive streams
def longest_streak(streams):
    sorted_streams = sorted(streams)
    max_streak = 1
    current_streak = 1
    
    for i in range(1, len(sorted_streams)):
        if sorted_streams[i] == sorted_streams[i-1] + 1:
            current_streak += 1
        else:
            max_streak = max(max_streak, current_streak)
            current_streak = 1
    
    return max(max_streak, current_streak)

In [17]:
# Add a column with the longest streak of consecutive streams
stream_per_users["longest_streak"] = stream_per_users["stream"].apply(longest_streak)

# Display the result
stream_per_users.head(5)

        user        stream  stream_count  longest_streak
0  00001joel        [4, 5]             2               2
1  00ramez00          [14]             1               1
2   062_davi          [37]             1               1
3     0_OS_0          [39]             1               1
4     0criss  [32, 41, 45]             3               1

In [18]:
stream_per_users["longest_streak"].describe()

count    3908.000000
mean        1.625128
std         2.505270
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        50.000000
Name: longest_streak, dtype: float64

In [24]:
stream_per_users[stream_per_users['user']=='gkey']

,user,stream,stream_count,longest_streak
2023,gkey,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",42,17